{% extends "base.html" %}

{% block title %}
		<title>
			Проект
		</title>
{% endblock title %}

{% block h1 %}
	<h1>Проект</h1>
{% endblock h1 %}

{% block content %}
	<p>Чтобы начать пользоваться проектом, необходимо:</p>
	<p>
		1. <a href="{% url 'program' %}">Скачать</a> программу с сайта.<br>
		2. В программе создать файл с ключами. Этот файл нужно хранить в секрете. ВАЖНО! В случае утери файла с ключами будет утерян доступ ко всему, что с этими ключами было связано.<br>
		3. В программе воспользоваться функцией создания одноразового ключа для регистрации/входа при помощи специального кода на сайте.<br>
		4. В программе скопировать публичные ключи и загрузить их в свой профиль на сайте.
	</p>
	<p>После этих действий Вам будут доступны создание голосований и участие в них.</p>
{% endblock content %}
