{% extends "base.html" %}

{% block title %}
		<title>
			Сообщения участников голосования #{{ voting.v_id|truncatechars:9 }}
		</title>
{% endblock title %}

{% block h1 %}
	<h1>Сообщения участников голосования #{{ voting.v_id|truncatechars:9 }}</h1>
{% endblock h1 %}

{% block content %}
	{% for mediator in mediators %}
		<div>
			{{ mediator.user.username|truncatechars:9 }}
			<form action="" method="post">
				{% csrf_token %}
					<input id="download_msg_mw_file" type="hidden" name="download_msg_mw_file" value="{{ mediator.user.username }}">
					<button>msg_mw</button>
			</form>
			<form action="" method="post">
				{% csrf_token %}
					<input id="download_msg_ma_file" type="hidden" name="download_msg_ma_file" value="{{ mediator.user.username }}">
					<button>msg_ma</button>
			</form>
		</div>
	{% endfor %}
{% endblock content %}
