{% extends "base.html" %}

{% block title %}
		<title>
			Инструкция по проведению/прохождению голосования.
		</title>
{% endblock title %}

{% block h1 %}
	<h1>Инструкция по проведению/прохождению голосования.</h1>
{% endblock h1 %}

{% block content %}
	<p><b>Если Вы в роли Голосующего:</b></p>
	<p>
		- Открыть страницу голосования с открытой регистрацией и выбрать посредника.<br>
		- Дождаться закрытия регистрации.<br>
		- В программе выбрать режим "Голосующий", загрузить в программу файл голосования скачанный со страницы голосования, ознакомиться с голосованием и проголосовать.<br>
		- Загрузить созданный программой файл на страницу голосования.<br>
		- Ждать итогов голосования, они будут отображены на странице.
	</p>
	<p><b>Если Вы в роли Посредника:</b></p>
	<p>
		- Открыть страницу голосования с открытой регистрацией и стать посредником.<br>
		- Дождаться закрытия регистрации и голосования.<br>
		- Скачать файл "msg_wm_1" и файл голосования.<br>
		- В программе войти в режим "Посредник", выбрать "Первый этап", загрузить в программу файл "msg_wm_1" и файл голосования и получить файл "msg_mw".<br>
		- Загрузить файл "msg_mw" на страницу голосования.<br>
		- Скачать файл "msg_wm_2".<br>
		- В программе войти в режим "Посредник", выбрать "Второй этап", загрузить в программу файл "msg_wm_2" и получить файл "msg_ma".<br>
		- Загрузить файл "msg_ma" на страницу голосования.<br>
		- Ждать итогов голосования, они будут отображены на странице.
	</p>
	<p><b>Если Вы в роли Агентства:</b></p>
	<p>
		- Открыть регистрацию участников в голосовании.<br>
		- Закрыть регистрацию по прошествии необходимого Вам времени и открыть голосование.<br>
		- Закрыть голосование по прошествии необходимого Вам времени.<br>
		- Дождаться сообщений от посредников и скачать их.<br>
		- Скачать файл голосования со страницы голосования.<br>
		- В программе в режиме "Агентство" пройти финальный этап голосования.<br>
		- Загрузить файл "msg_voting_summary" на страницу голосования.
	</p>
{% endblock content %}
