{% extends "base.html" %}

{% block title %}
		<title>
			Инструкция по проведению/прохождению голосования.
		</title>
{% endblock title %}

{% block h1 %}
	<h1>Инструкция по проведению/прохождению голосования.</h1>
{% endblock h1 %}

{% block content %}
	<p><b>Если Вы в роли Голосующего:</b></p>
	<p>
		1. Открыть страницу голосования с открытой регистрацией и выбрать посредника.<br>
		2. Дождаться закрытия регистрации.<br>
		3. В программе выбрать режим "Голосующий", загрузить в программу файл голосования скачанный со страницы голосования и проголосовать.<br>
		4. Загрузить созданный программой файл на страницу голосования.<br>
		5. Ждать итогов голосования.<br>
		6. При желании скачать со страницы голосования файл с его результатами для их проверки программой.
	</p>
	<p><b>Если Вы в роли Посредника:</b></p>
	<p>
		1. Открыть страницу голосования с открытой регистрацией и стать посредником.<br>
		2. Дождаться закрытия регистрации и сообщений выбравших Вас голосующих.<br>
		3. Скачать файл msg2_wm и файл голосования.<br>
		4. Скачать файл голосования со страницы голосования.<br>
		5. В программе в режиме "Агенство" пройти финальный этап голосования, следуя инструкциям программы.<br>
		6. Загрузить файл "s_a_vres__*" на страницу голосования, для отображения его итогов.
	</p>
	<p><b>Если Вы в роли Агенства:</b></p>
	<p>
		1. Открыть регистрацию участников в голосовании.<br>
		2. Закрыть регистрацию по прошествии необходимого Вам времени.<br>
		3. Дождаться от посредников сообщений со ссылками на файл "s_m_msg4_ma__*" и скачать их в одну папку.<br>
		4. Скачать файл голосования со страницы голосования.<br>
		5. В программе в режиме "Агенство" пройти финальный этап голосования, следуя инструкциям программы.<br>
		6. Загрузить файл "s_a_vres__*" на страницу голосования, для отображения его итогов.
	</p>
	<p>После этих действий Вам будут доступны создание голосований и участие в них.</p>
{% endblock content %}
